@charset "UTF-8";

*{
    padding: 0;
    margin: 0;

}
body{
    background-color: #FFFAEE;
    min-height: 100vh;
    
}
header{
    background-color: #805500;
    text-align: center;
    
    
    
}header>h1{
     color: rgb(255, 255, 255);
    
    font-family:'Passion One', Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: clamp(1rem, 6vw, 8rem);
    padding-top: 50px;
    
}
header>p{
    font-weight: bolder;
    color: white;
    font-weight: 100;
    font-size: clamp(1rem, 1.6vw, 2rem);
    padding-bottom: 50px;
    font-family: 'Sriracha','Times New Roman', Times, serif;
    
    
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}



section{
   
    line-height:3em;
    font-size: clamp(1rem, 2vw, 3rem);
    font-family: 'Sriracha', 'Times New Roman', Times, serif;
    padding-top:10vh;
    padding-bottom:10vh;
    padding-left: 10vh;
    margin: 0px;
   
   

}
#imggirassol{
    background-image: url("imagens/girasol1.jpg");
    
   
}
#imgfolhaletra{
    background-image: url("imagens/folhas-escritas.jpg");
    
    
}

.vsimagem{
   
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 3px 13px 0px  rgba(0, 0, 0, 0.264);
    background-position: right center;
    background-color: black;
    
    
    

}
.telapreta{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    
    

    
   
   

    
}
pre{
    
    padding-bottom: 10vh;
    padding-right: 10vh;
    padding-top: 10vh;
    text-align: left;
  
    
   


  
   
    

}
footer{
    background-color: #805500;
    color: white;
    text-align: center;
    padding: 10px;
   
}
abbr{
    text-decoration: none;
}